
@{
    ViewBag.Title = "Index";
}

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/Assets/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We Are Foodo
                        </h2>
                    </div>
                    <p>
                        Founded in 2024, Foodo is a huge team working day and night to provide the best service to our customers.
                        Thanks to you, we have already overtaken many competitors even though we are new to the sector.
                        We brought a first to the sector by providing 24/7 service and we have progressed successfully and continue to progress.
                    </p>
                    <p>
                        Foodo consists of a dynamic team that entered the sector in 2024. 
                        Our mission is to provide superior service to our customers and perfect their dining experience. 
                        Thanks to our innovative approach and 24/7 service approach, we have quickly become one of the leaders in the sector. 
                        We constantly evaluate customer feedback and improve our services. Our goal is to ensure the satisfaction of each of our customers and offer them an unforgettable experience. 
                        As Foodo, we continue to gain the trust of both our individual and corporate customers with the quality and customer-oriented service we provide in the dining sector.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

